@use "../abstracts/mixins" as *;

section {
    background-color: #000;
    color: #fff;
}

.section-about {
    padding: 6rem 9rem 6rem 9rem;

    @include respond(phone) {
        padding: 6rem 3rem 30rem 3rem;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include respond(phone) {
            grid-template-columns: 1fr;
            gap: 5rem;
        }
    }

    &__col:first-child {
        margin-right: 3rem;
    }
}

.section-works {
    padding: 14rem 9rem 9rem 9rem;

    @include respond(phone) {
        padding: 8rem 3rem 3rem 3rem;
    }
}

.section-contact {
    @include respond(phone) {
        padding: 3rem 3rem 3rem 3rem;
    }
}

.book {
    background-image: linear-gradient(105deg, rgba(#fff, 0.3) 0%, rgba(#fff, 0.3) 50%, transparent 50%),
        url(../../src/img/building-2.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 3px;
    position: relative;

    // @include respond(tab-land) {
    //     background-image: linear-gradient(105deg, rgba(#fff, 0.3) 0%, rgba(#fff, 0.3) 65%, transparent 65%),
    //         url(../../src/img/book-img.jpg);
    // }

    // @include respond(phone) {
    //     background-image: linear-gradient(to right, rgba(#fff, 0.3) 0%, rgba(#fff, 0.3) 100%),
    //         url(../../src/img/book-img.jpg);
    // }

    &::before{
        content: "";
        position: absolute;
        inset: 0;
        background: #000;
        opacity: .25;
        width: 100%;
        height: 100%;
        z-index: 1;

    }

    &__form {
        position: relative;
        z-index: 2;
        width: 40%;
        padding: 6rem 3rem 6rem 6rem;

        @include respond(tab-land) {
            width: 60%;
        }

        @include respond(phone) {
            width: 100%;
            padding: 6rem;
        }
    }
}

/* Modal */
.modal {
    display: none; /* hidden by default */
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    // left: 50%;
    // top: 50%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 105vh;
    width: 100vw;
    transform: translate(-50%, -50%);
    padding: 2.5rem;
    border-radius: 1rem;
    overflow: auto;
    background: rgba(0, 0, 0, 0.75); /* 50% black overlay */
    animation: fadeIn 0.3s ease; /* overlay fade */
    transform: translate(0);

    // max-height: 85% !important;

    // @include respond(phone) {
    //     width: 85% !important;
    //     width: fit-content;
    //     height: fit-content;
    // }

    // @include respond(tab-port) {
    //      max-height: 85% !important;
    // }
}

.modal-content {
    display: block;
    margin: auto;
    max-height: 100%;
    border-radius: 10px;
    animation: zoomIn 0.3s ease; /* image zoom fade */
    max-width: 100%;
    object-fit: contain;
    max-height: 38rem;

    top: 50%;
    position: relative;
    transform: translateY(-50%);

    @include respond(tab-port) {
        height: 100%;
    }
}

/* Close button */
.close {
    position: absolute;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;

    top: 40px;
    right: 60px;
    font-size: 60px;

    @include respond(tab-land) {
        top: 20px;
        right: 35px;
        font-size: 40px;
    }

    @include respond(big-desktop) {
        top: 40px;
        right: 60px;
        font-size: 60px;
    }
}

.close:hover {
    color: #bbb;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
